{% extends 'navbar.html' %}

{% block nav %}
  <h1 class="bg-success text-center">Customer Home</h1>
  {% if messages %}
    {% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{i}}</strong>
    </div>
    {%endif%}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{i}}</strong>
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}
    <h3>Welcome To Egadgets, {{request.user.first_name}} {{request.user.last_name}}</h3>
    <div class="row">

      {% for i in data %}
      <div class="card mb-3" style="width: 18rem;">
        <img src="{{i.image.url}}" height="300px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.type}}</li>
        </ul>
        <div class="card-body text-center">
          <a href="{% url 'prodet' i.id %}" class="card-link btn btn-warning">View More</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      {%endfor%}

    </div>

    {% endblock nav %}